<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animalia</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <style>
    .menu {
      width: 15%;
      height: 100vh;
      min-width: 16rem;
      padding: 20px 0px 0px 20px;
      float: left;

    } 
    .main {
      width: 85%;
      height: 100vh;
      padding: 20px 0px 0px 10px;
      float: left;

    }

    </style>
  <script>
    
  </script>
  </head>
  <body style="overflow: hidden; background-color: #aed8ff54;">
   
    <!--Submit Sighting-->

    <div class="modal fade" id="submit_sighting" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="submit_title">Submit Sighting</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
          </div>
          <form method="post">
          <div class="modal-body">
            <input type="text" class="form-control" placeholder="Species" aria-label="species" aria-describedby="button-addon2" name="species">
            <input type="text" class="form-control" placeholder="Description" aria-label="description" aria-describedby="button-addon2" name="description">
            <input type="text" class="form-control" placeholder="Long" aria-label="long" aria-describedby="button-addon2" name="long">
            <input type="text" class="form-control" placeholder="Lat" aria-label="lat" aria-describedby="button-addon2" name="lat">
            <input type="text" class="form-control" placeholder="Type" aria-label="type" aria-describedby="button-addon2" name="type">
            


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>    

    <!--Info popup-->

  <div class="modal fade" id="info_popup" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="info_title">{animal_name}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <font id="ext_info"> </font>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!--Side Bar-->
    <div class="menu">
        <div class="card border-secondary" style="width: 100%; height: 98%;">
          <font style="font-family: Pacifico; background-color: #bcdba1;" size="10rem" class="card-header text-center">Animalia</font>
          <div class="card-body">
            <center>
            <form>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Species" aria-label="species_search" aria-describedby="basic-addon2">
                <button class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </form>
            <button class="btn btn-outline-secondary mb-3" style="width: 100%;">Predict suitable locations</button>
            <button class="btn btn-outline-secondary mb-3" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#submit_sighting">Submit Sighting</button> <br>
            
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Random Animals</th>
                  <th scope="col">Go To</th>
                </tr>
              </thead>
              <tbody id="table_rand_anims">

                <!--This table is populated by function-->

              </tbody>
            </table>

          
            <font class="" size="3%" id="location" style="width: 100%;"></font>
            <nav class="" aria-label="breadcrumb" style="padding-left: 15%; padding-right: 14%; width: 100%;">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Statistics</a></li>
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item"><a href="#">Download</a></li>
              </ol>
            </nav>
            
            </center>
          </div>

        </div>
      </div>

    <!--MAP-->
    <div class="main">
        <div class="card border-muted" style="width: 99%; height: 98%;"> 
            <div class="card-body">
               
              <div style="width: 100%; height: 100%;" id="mapContainer"></div>
              


              <!--JS for the map-->
              <script>	
                // Initialize Map
                var platform = new H.service.Platform({
                  'apikey': 'X5taNHfxMoYunIFl7jP3AnvGhGvwKKRi8sQqRq7zorI'
                });

                var x = document.getElementById("location");
                  
                function getLocation() {
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(showPosition);
                      
                    } else { 
                      x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                  }
                  
                function showPosition(position) {
                  x.innerHTML = "Lat: " + position.coords.latitude + " | Long: " + position.coords.longitude;
                  lat =position.coords.latitude;
                  long = position.coords.longitude;
                  map.setCenter({lat:lat, lng:long});
                  var current_loc = new H.map.Marker({lat: lat, lng: long});
                  map.addObject(current_loc);
                  map.setZoom(12);

                  fetch('/all_data', {
                      headers : {
                          'Content-Type' : 'application/json'
                      },
                      method : 'POST',
                      body : JSON.stringify( {
                          'data_request' : null
                      })
                  })
                  .then(function (data){

                      if(data.ok) {   //Getting the CSV values
                        key_list = [];
                        animals_list = [];
                        lats_list = [];
                        longs_list = [];
                        types_list = [];
                        data.json()
                          .then(function(data) {
                              console.log(data);
                              for (let i = 0; i < data.length; i++) { //For each of the values create a pointer on the map
                                addDomMarker(map,data[i]["latitude"],data[i]["longitude"],data[i]["key"],data[i]["type"]) //map, lat, long, key, type
                              }
                              append_table(data);
                          });
                          
                      }
                      else {
                          throw Error('Something went wrong');
                      }
                  })
                  .catch(function(error) {
                      console.log(error);
                      

                  });

                }
                lat = 0;
                long = 0;
                getLocation();

                function append_table(data){
                  table = document.getElementById("table_rand_anims");
                  for (let i = 0; i<21; i++){
                    random_item = Math.floor((Math.random() * data.length));
                    console.log(random_item)
                    table.innerHTML += "<tr><th scope=\"row\">"+ (i+1) +"</th> <td>"+ data[random_item]["species"] +"</td> <td><a href=\"#\" onclick=\"zoom_to_loc("+ data[random_item]["latitude"] +","+ data[random_item]["longitude"] +")\">Find</a></td></tr>";
                  }
                }
                function zoom_to_loc(lat, long) {
                  map.setCenter({lat:lat, lng:long});
                }

                var maptypes = platform.createDefaultLayers();

                var map = new H.Map(
                  document.getElementById('mapContainer'),
                  maptypes.raster.terrain.map,
                  {
                    zoom: 10,
                    center: { lat: lat, lng: long }  
                  });
                  
                window.addEventListener('resize', function () {
                      map.getViewPort().resize(); 
                });

                var mapEvents = new H.mapevents.MapEvents(map);

                map.addEventListener('tap', function(evt) {
                  console.log(evt.type, evt.currentPointer.type); 
                });
                
                map.addEventListener('mapviewchangeend', function(){
                  console.log(map.getZoom())
                  if (map.getZoom() < 5){
                    console.log("TOO BIG")
                    for (i in map.getObjects()) {
                      console.log(map.getObjects()[i]);
                      map.getObjects()[i].setVisibility(false);
                    }     
                  } else{
                    for (i in map.getObjects()) {
                      map.getObjects()[i].setVisibility(true);
                    }
                  }
                })

                var behavior = new H.mapevents.Behavior(mapEvents);
                var ui = H.ui.UI.createDefault(map, maptypes);      
                
                
                function addDomMarker(map, lat, long, key, type) {
                  var outerElement = document.createElement('div'),
                      innerElement = document.createElement('div');

                  outerElement.style.userSelect = 'none';
                  outerElement.style.webkitUserSelect = 'none';
                  outerElement.style.msUserSelect = 'none';
                  outerElement.style.mozUserSelect = 'none';
                  outerElement.style.cursor = 'default';
                  
                  innerElement.style.color = 'red';
                  if (type == "animal"){
                    innerElement.style.backgroundColor = 'blue';
                    
                    innerElement.innerHTML = 'A';
                  } else {
                    innerElement.style.backgroundColor = 'green';

                    innerElement.innerHTML = 'P';
                  }
                  innerElement.style.border = '2px solid black';
                  innerElement.style.font = 'normal 12px arial';
                  innerElement.style.lineHeight = '12px'

                  innerElement.style.paddingTop = '2px';
                  innerElement.style.paddingLeft = '4px';
                  innerElement.style.width = '20px';
                  innerElement.style.height = '20px';

                  innerElement.style.marginTop = '-10px';
                  innerElement.style.marginLeft = '-10px';

                  outerElement.appendChild(innerElement);


                  function changeOpacity(evt) {
                    evt.target.style.opacity = 0.6;
                  };

                  function changeOpacityToOne(evt) {
                    evt.target.style.opacity = 1;
                  };

                  //create dom icon and add/remove opacity listeners
                  var domIcon = new H.map.DomIcon(outerElement, {
                    // the function is called every time marker enters the viewport
                    onAttach: function(clonedElement, domIcon, domMarker) {
                      clonedElement.addEventListener('mouseover', changeOpacity);
                      clonedElement.addEventListener('mouseout', changeOpacityToOne);
                      clonedElement.addEventListener('click', function(){ popup_info(key)}); //When the element is clicked bring up a popup with the details about the animal or plant
                    },
                    // the function is called every time marker leaves the viewport
                    onDetach: function(clonedElement, domIcon, domMarker) {
                      clonedElement.removeEventListener('mouseover', changeOpacity);
                      clonedElement.removeEventListener('mouseout', changeOpacityToOne);
                    }
                  });

                  var Marker1 = new H.map.DomMarker({lat: lat, lng: long}, {
                    icon: domIcon
                  });
                  map.addObject(Marker1);
                }
                
                function popup_info(key) { //Each enimal has a key/which item they are in the CSV
                    console.log("ping clicked")
                    
                    info_popup = document.getElementById("info_popup")
                    $("#info_popup").modal("toggle");

                    fetch('/fetch', {
                      headers : {
                          'Content-Type' : 'application/json'
                      },
                      method : 'POST',
                      body : JSON.stringify( {
                          'key' : key
                      })
                  })
                  .then(function (response){

                      if(response.ok) {
                          response.json()
                          .then(function(response) {
                              console.log(response);
                              
                              info_title = document.getElementById("info_title");
                              info_title.innerHTML = response["species"]
                              ext_info = document.getElementById("ext_info")
                              ext_info.innerHTML = response["extra_info"]
                              

                          });
                      }
                      else {
                          throw Error('Something went wrong');
                      }
                  })
                  .catch(function(error) {
                      console.log(error);


                  });

                }
            </script>
      
             </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
