<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Animalia</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
    <style>
    .menu {
      width: 15%;
      height: 100vh;
      min-width: 16rem;
      padding: 20px 0px 0px 20px;
      float: left;

    } 
    .main {
      width: 85%;
      height: 100vh;
      padding: 20px 0px 0px 10px;
      float: left;

    }

    </style>
  </head>
  <body style="overflow: hidden; background-color: #aed8ff54;">
   
    <!--Submit Sighting-->

    <div class="modal fade" id="submit_sighting" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #c5e0acb7;">
            <h5 class="modal-title" id="submit_title">Submit Sighting</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
          </div>
          
          <div class="modal-body">
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Species" aria-label="species" aria-describedby="button-addon2" id="species">
              <button class="btn btn-outline-secondary" style="width: 15%;" onclick="tgl_btn()" id="type">Type</button>
            </div>
            <textarea type="text" class="form-control mb-2" placeholder="Description" aria-label="description" aria-describedby="button-addon2" id="description"></textarea>
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Latitude" aria-label="lat" aria-describedby="button-addon2" id="lat">
              <input type="text" class="form-control" placeholder="Longitude" aria-label="long" aria-describedby="button-addon2" id="long">
              <button class="btn btn-outline-secondary" style="width: 15%;" onclick="autofill()" id="type">Auto</button>
            </div>
            <div>
              <input type="date" class="form-control" aria-label="long" id="date">   <!--This unfortunatly is in MM/DD/YYYY-->
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" onclick="submit_sight()" data-bs-dismiss="modal">Submit</button>

            <script>
              function autofill() { //Autofills the lat long coordinates
                document.getElementById("lat").value = lat;
                document.getElementById("long").value = long;
              }

              function tgl_btn() { //Toggles buttons between plant/animal states
                btn = document.getElementById("type");
                if (btn.innerHTML == "Animal") {
                  btn.innerHTML = "Plant";
                  btn.style.backgroundColor = "#bcdba1";

                } else {
                  btn.innerHTML = "Animal";
                  btn.style.backgroundColor = "#FB6D4E";
                }
              }

              function submit_sight() { //Sends values to server, then refreshes page
                fetch('/submit', {
                        headers : {
                            'Content-Type' : 'application/json'
                        },
                        method : 'POST',
                        body : JSON.stringify( {
                            'species' : document.getElementById("species").value,
                            'description' : document.getElementById("description").value,
                            'long' : document.getElementById("long").value,
                            'lat' : document.getElementById("lat").value,
                            'type' : document.getElementById("type").innerHTML,
                            'date' : document.getElementById("date").value
                        })
                    })
                    .then(function (data){
                        if(data.ok) {
                          data.text()
                          .then(function(data) {
                              if (data == "success"){
                                window.location.href = "/"; //Reloads the page so new species location can be shown
                              }
                          });
                        }
                        else {
                            throw Error('Something went wrong');
                        }
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                  }


            </script>

          </div>
          </form>
        </div>
      </div>
    </div>    

    <!--Info popup-->

  <div class="modal fade" id="info_popup" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="title_bg">
          <h5 class="modal-title" id="info_title">{animal_name}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <font id="ext_info"> </font>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!--Side Bar-->
    <div class="menu">
        <div class="card border-secondary" style="width: 100%; height: 98%;">
          <font style="font-family: Pacifico; background-color: #bcdba1;" size="10rem" class="card-header text-center">Animalia</font>
          <div class="card-body d-flex flex-column ">
            <center>
            
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Species" id="search_input" aria-label="search_input" aria-describedby="basic-addon2">
                <button class="btn btn-outline-secondary" type="button" onclick="search_species()">Search</button>
              </div>
            <button class="btn btn-outline-secondary mb-3" style="width: 100%;">Predict suitable locations</button>
            <button class="btn btn-outline-secondary mb-3" style="width: 100%;" data-bs-toggle="modal" data-bs-target="#submit_sighting">Submit Sighting</button> <br>
            <div style="max-height: 90vh; overflow-y: auto;">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" id="table_title">Random Animals</th>
                  <th scope="col">Go To</th>
                </tr>
              </thead>
              <tbody id="table_rand_anims" >

                <!--This table is populated by function-->

              </tbody>
            </table>
          </div>
          <font class="" size="3%" id="location" style="width: 100%; position: static;"></font> <!-- I can't get this bar to stick to the bottom when the table is empty-->
          <div class="justify-content-center" >
            <nav aria-label="breadcrumb" style="padding-left: 15%; padding-right: 14%; width: 100%; position: absolute; bottom: 0 ">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Statistics</a></li> <!-- Would show statistics about the quantity of pings, of which type they are and most pinged animal-->
                <li class="breadcrumb-item"><a href="#">Admin</a></li> <!--Intended features: allow people with admin key to delete pings-->
                <li class="breadcrumb-item"><a href="./database/animal_locations.csv" download="animal_locations.csv">Download</a></li> <!--Somehow doesn't work, probably because the file is not uploaded correctly-->
              </ol>
            </nav>
            
            </center>
            </div>
          </div>

        </div>
        <script>
          function search_species(){
            search_value = document.getElementById("search_input").value;
            if (/^\s*$/.test(search_value) != true){ // Checks if the search isn't empty or full of whitespaces

            fetch('/search', {
                        headers : {
                            'Content-Type' : 'application/json'
                        },
                        method : 'POST',
                        body : JSON.stringify( {
                            'species_search' : document.getElementById("search_input").value
                        })
                    })
                    .then(function (data){
                        if(data.ok) {
                          data.json()
                          .then(function(data) {
                            document.getElementById("table_title").innerHTML = "Searched animals";
                            table = document.getElementById("table_rand_anims");
                            table.innerHTML = "";
                            for (let i = 0; i<data["lats"].length; i++){
                              table.innerHTML += "<tr><th scope=\"row\">"+ (i+1) +"</th> <td>"+ search_value +"</td> <td><a href=\"#\" onclick=\"zoom_to_loc("+ data["lats"][i] +","+ data["longs"][i] +")\">Find</a></td></tr>";
                            }
                            map.setCenter({lat: data["lats"][0],lng: data["longs"][0]})
                          });
                        }
                        else {
                            throw Error('Something went wrong');
                        }
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
          }
        }

        </script>
      </div>

    <!--MAP-->
    <div class="main">
        <div class="card border-muted" style="width: 99%; height: 98%;"> 
            <div class="card-body">
               
              <div style="width: 100%; height: 100%;" id="mapContainer"></div>
              


              <!--JS for the HERE map-->
              <script>	
                // Initialize Map
                var platform = new H.service.Platform({
                  'apikey': 'X5taNHfxMoYunIFl7jP3AnvGhGvwKKRi8sQqRq7zorI'
                });

                var x = document.getElementById("location");
                  
                function getLocation() {
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(showPosition);
                      
                    } else { 
                      x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                  }
                  
                function showPosition(position) {
                  x.innerHTML = "Lat: " + position.coords.latitude + " | Long: " + position.coords.longitude;
                  lat =position.coords.latitude;
                  long = position.coords.longitude;
                  map.setCenter({lat:lat, lng:long});
                  var current_loc = new H.map.Marker({lat: lat, lng: long});
                  map.addObject(current_loc);
                  map.setZoom(12);

                  fetch('/all_data', {
                      headers : {
                          'Content-Type' : 'application/json'
                      },
                      method : 'POST',
                      body : JSON.stringify( {
                          'data_request' : null
                      })
                  })
                  .then(function (data){

                      if(data.ok) {   //Getting the CSV values
                        key_list = [];
                        animals_list = [];
                        lats_list = [];
                        longs_list = [];
                        types_list = [];
                        data.json()
                          .then(function(data) {
                              console.log(data);
                              for (let i = 0; i < data.length; i++) { //For each of the values create a pointer on the map
                                addDomMarker(map,data[i]["latitude"],data[i]["longitude"],data[i]["key"],data[i]["type"]) //map, lat, long, key, type
                              }
                              append_table(data);
                          });
                          
                      }
                      else {
                          throw Error('Something went wrong');
                      }
                  })
                  .catch(function(error) {
                      console.log(error);
                      

                  });

                }
                lat = 0;
                long = 0;
                getLocation();

                function append_table(data){
                  table = document.getElementById("table_rand_anims");
                  for (let i = 0; i<21; i++){
                    random_item = Math.floor((Math.random() * data.length));
                    console.log(random_item)
                    table.innerHTML += "<tr><th scope=\"row\">"+ (i+1) +"</th> <td>"+ data[random_item]["species"] +"</td> <td><a href=\"#\" onclick=\"zoom_to_loc("+ data[random_item]["latitude"] +","+ data[random_item]["longitude"] +")\">Find</a></td></tr>";
                  }
                }
                function zoom_to_loc(lat, long) {
                  map.setCenter({lat:lat, lng:long});
                }

                var maptypes = platform.createDefaultLayers();

                var map = new H.Map(
                  document.getElementById('mapContainer'),
                  maptypes.raster.terrain.map,
                  {
                    zoom: 10,
                    center: { lat: lat, lng: long }  
                  });
                  
                window.addEventListener('resize', function () {
                      map.getViewPort().resize(); 
                });

                var mapEvents = new H.mapevents.MapEvents(map);

                map.addEventListener('tap', function(evt) {
                  console.log(evt.type, evt.currentPointer.type); 
                });
                
                map.addEventListener('mapviewchangeend', function(){
                  console.log(map.getZoom())
                  if (map.getZoom() < 8.4){
                    console.log("TOO BIG")
                    for (i in map.getObjects()) {
                      console.log(map.getObjects()[i]);
                      map.getObjects()[i].setVisibility(false);
                    }     
                  } else{
                    for (i in map.getObjects()) {
                      map.getObjects()[i].setVisibility(true);
                    }
                  }
                })

                var behavior = new H.mapevents.Behavior(mapEvents);
                var ui = H.ui.UI.createDefault(map, maptypes);      
                
                
                function addDomMarker(map, lat, long, key, type) {
                  var outerElement = document.createElement('div'),
                      innerElement = document.createElement('div');

                  outerElement.style.userSelect = 'none';
                  outerElement.style.webkitUserSelect = 'none';
                  outerElement.style.msUserSelect = 'none';
                  outerElement.style.mozUserSelect = 'none';
                  outerElement.style.cursor = 'default';
                  
                  innerElement.style.color = 'red';
                  if (type == "Animal"){
                    innerElement.style.backgroundColor = 'blue';
                    
                    innerElement.innerHTML = 'A';
                  } else {
                    innerElement.style.backgroundColor = 'green';

                    innerElement.innerHTML = 'P';
                  }
                  innerElement.style.border = '2px solid black';
                  innerElement.style.font = 'normal 12px arial';
                  innerElement.style.lineHeight = '12px'

                  innerElement.style.paddingTop = '2px';
                  innerElement.style.paddingLeft = '4px';
                  innerElement.style.width = '20px';
                  innerElement.style.height = '20px';

                  innerElement.style.marginTop = '-10px';
                  innerElement.style.marginLeft = '-10px';

                  outerElement.appendChild(innerElement);


                  function changeOpacity(evt) {
                    evt.target.style.opacity = 0.6;
                  };

                  function changeOpacityToOne(evt) {
                    evt.target.style.opacity = 1;
                  };

                  //create dom icon and add/remove opacity listeners
                  var domIcon = new H.map.DomIcon(outerElement, {
                    // the function is called every time marker enters the viewport
                    onAttach: function(clonedElement, domIcon, domMarker) {
                      clonedElement.addEventListener('mouseover', changeOpacity);
                      clonedElement.addEventListener('mouseout', changeOpacityToOne);
                      clonedElement.addEventListener('click', function(){ popup_info(key)}); //When the element is clicked bring up a popup with the details about the animal or plant
                    },
                    // the function is called every time marker leaves the viewport
                    onDetach: function(clonedElement, domIcon, domMarker) {
                      clonedElement.removeEventListener('mouseover', changeOpacity);
                      clonedElement.removeEventListener('mouseout', changeOpacityToOne);
                    }
                  });

                  var Marker1 = new H.map.DomMarker({lat: lat, lng: long}, {
                    icon: domIcon
                  });
                  map.addObject(Marker1);
                }
                
                function popup_info(key) { //Each enimal has a key/which item they are in the CSV
                    console.log("ping clicked")
                    fetch('/fetch', {
                      headers : {
                          'Content-Type' : 'application/json'
                      },
                      method : 'POST',
                      body : JSON.stringify( {
                          'key' : key
                      })
                  })
                  .then(function (response){

                      if(response.ok) {
                          response.json()
                          .then(function(response) {
                              console.log(response);
                              info_popup = document.getElementById("info_popup");
                              $("#info_popup").modal("toggle");
                              title_bg = document.getElementById("title_bg");
                              info_title = document.getElementById("info_title");
                              info_title.innerHTML = response["species"] + "       (" + response["date"] + ")";
                              console.log(response["type"])
                              if (response["type"] == "Animal"){
                                title_bg.style.backgroundColor = "#FB6D4E";
                              } else {
                                title_bg.style.backgroundColor = "#bcdba1";
                              }
                              ext_info = document.getElementById("ext_info");
                              ext_info.innerHTML = response["extra_info"];
                              

                          });
                      }
                      else {
                          throw Error('Something went wrong');
                      }
                  })
                  .catch(function(error) {
                      console.log(error);


                  });

                }
            </script>
      
             </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
